PORT=
NODE_ENV=

# DB
DB_URI=
BASE_URL= 

# jwt
JWT_SECRET_KEY=
JWT_EXPIRE_TIME=
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRE_TIME=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=